{# views-view-grid-responsive--news.html.twig #}
<div class="views-view-responsive-grid custom-news-grid"
     style="--views-responsive-grid--column-count:2; --views-responsive-grid--cell-min-width:200px; --views-responsive-grid--layout-gap:20px;">
  {% for row in rows %}
    <div class="views-view-responsive-grid__item">
      <div class="views-view-responsive-grid__item-inner">
        <div class="custom-news-item-grid">
          <div class="left-date">{{ row.fields.created.content }}</div>
          <div class="right-content">
            <div class="photo">{{ row.fields.field_photo.content }}</div>
            <div class="meta">
              {{ row.fields.field_job.content }}
              {{ row.fields.field_author_name.content }}
              {{ row.fields.field_category.content }}
              {{ row.fields.field_date_since.content }}
            </div>
            <div class="title">{{ row.fields.title.content }}</div>
            <div class="body">{{ row.fields.body.content }}</div>
            <div class="read-more">{{ row.fields.view_node.content }}</div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
