{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block head %}
  <header class="custom-header">
    {% if page.secondary_menu or page.top_header or page.top_header_form %}
      <nav{{ navbar_top_attributes }}>
        <div>
          {{ page.secondary_menu }}
          {{ page.top_header }}
          {% if page.top_header_form %}
            <div class="form-inline navbar-form float-end">
              {{ page.top_header_form }}
            </div>
          {% endif %}
        </div>
      </nav>
    {% endif %}

    <nav{{ navbar_attributes.addClass('navbar', 'navbar-expand-lg', 'custom-main-nav') }}>
      <div class="custom-menu-container d-flex container-custom">
        <div class="site-branding me-3 d-flex align-items-center">
          {{ page.header }}
        </div>

        <button class="navbar-toggler ms-auto" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#MainMenuCollapse"
                aria-controls="MainMenuCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="MainMenuCollapse">
        <div class="container-custom">
          <a href="{{ path('<front>') }}" class="home-icon d-flex align-items-center me-3">
            <img src="{{ base_path }}sites/default/files/2025-07/Homepage-menu.png" alt="Home" style="height: 32px;padding-left:15px;" />
          </a>

          {% if page.primary_menu %}
            <div class="menu-wrapper">
              {{ page.primary_menu }}
            </div>
          {% endif %}

          <div class="search-socials d-flex align-items-center">
            {% if page.header_social %}
              <div class="social-wrapper d-flex align-items-center me-3">
                {{ page.header_social }}
              </div>
            {% endif %}

            {% if page.header_form %}
              <div class="search-wrapper d-flex align-items-center">
                <div id="search-form-header-wrapper">
                  {{ page.header_form }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block footer %}
  <div class="container-custom">
    {% if page.footer_first or page.footer_second %}
      <div class="site-footer__top d-flex justify-content-between align-items-center flex-wrap">
        <div class="footer-branding">
          {{ page.footer_first }}
        </div>
        <div class="footer-socials">
          {{ page.footer_second }}
        </div>
      </div>
    {% endif %}

    {% if page.footer_third or page.footer_fourth %}
      <div class="site-footer__middle d-flex flex-wrap justify-content-between mt-3">
        {{ page.footer_third }}
        {{ page.footer_fourth }}
      </div>
    {% endif %}

    {% if page.footer_fifth %}
      <div class="site-footer__bottom mt-3">
        {{ page.footer_fifth }}
      </div>
    {% endif %}
  </div>
{% endblock %}
